.GameScreen {
    display: flex;
    width: 100vw;
    height: 100vh;
}
.GameScreen img {
    z-index: 0;
    pointer-events: none;
}
.GameScreen .UI {
    width: 100%;
    height: 100%;
    z-index: 2;
}
.GameScreen .BackBtn {
    position: absolute;
    left: 30px;
    bottom: 30px;
    padding: 10px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 2rem;
    background-color: var(--btn-bg);
    color: rgb(var(--text-primary));
    margin-top: auto;
    align-self: center;
    z-index: 10;
    cursor: pointer;
}
.GameScreen .BackBtn:hover {
    transform: scale(1.1);
}
.GameScreen .Canvas {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.GameScreen .Sidebar {
    background-color: rgba(var(--bg-color), 0.8);
    position: absolute;
    top: 0;
    height: 100%;
    border-radius: 0;
}
.GameScreen .Sidebar.Tools {
    left: 0;
}
.GameScreen .Sidebar.Maps {
    right: 0;
    width: 200px;
}

.GameScreen .Dice {
    padding: 10px;
    background-color: rgba(var(--bg-color), 0.8);
    position: absolute;
    width: 50%;
    bottom: 0;
    left: 30%;
}
.GameScreen .Dice h2 {
    text-align: left;
}

/* #region checkbox*/
.GameScreen .checkbox-wrapper-8 .tgl {
    display: none;
}
.GameScreen .checkbox-wrapper-8 .tgl + .tgl-btn {
    outline: 0;
    display: block;
    font-size: 2rem;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.GameScreen .checkbox-wrapper-8 .tgl-skewed + .tgl-btn {
    overflow: hidden;
    transform: skew(-10deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.2s ease;
    font-family: sans-serif;
    background: #ff8383;
}
.GameScreen .checkbox-wrapper-8 .tgl-skewed:checked + .tgl-btn {
    background: #86d993;
}
.GameScreen .tgl-btn:hover {
    transform: scale(1.1) skew(-5deg);
}
.GameScreen .tgl-btn:active {
    transform: scale(1.01) skew(-5deg);
}
.GameScreen .checkbox-wrapper-8 .tgl-skewed:disabled + .tgl-btn {
    background: #2e2e2e;
}

/* #endregion checkbox*/

.GameScreen .Tiles section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.GameScreen .Tiles section div {
    padding: 5px;
    cursor: pointer;
    width: 100px;
    height: 100px;
}
.GameScreen .Selected {
    border: 2px solid white;
    border-radius: 5px;
}
.GameScreen .MapList {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--panel-bg);
}
.GameScreen .MapList .Map {
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(var(--bg-color), 0.8);
    cursor: pointer;
    color: rgb(var(--text-primary));
}
.GameScreen .MapList .Map:hover {
    transform: scale(1.1);
}
.GameScreen .MapList .Map:active {
    transform: scale(1.01);
}
