:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  width: 100vw !important;
  margin: 0 !important;
  font-synthesis: none;
  line-height: 1.5;
  font-weight: 400;
  min-height: 100vh;
  background-color: #2e2e2e;
  color: white;
  overflow: hidden;
}

body,
#root {
  background-color: var(--bg-color);
  color: rgb(var(--text-primary));
  margin: 0 !important;
}
* {
  transition: all 0.1s;
}
