.MainMenu .Slash {
  color: lightblue;
  animation: slash-glow 5s infinite alternate;
}

.MainMenu .Overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 25%;
  background-color: rgba(20, 20, 20, 0.6);
  border-radius: 12px;
  animation: fadeIn 1s ease-in-out;
}

.MainMenu h1 {
  font-size: 5rem;
  margin-bottom: 30px;
  color: #7e7e7e;
  position: relative;
  text-shadow: #7e7e7e 0 5px 5px;
  letter-spacing: 0.1em;
  overflow: hidden;
}

@keyframes slash-glow {
  from {
    text-shadow: lightblue 0 5px 1px;
  }
  to {
    text-shadow: lightblue 0 5px 20px;
  }
}

.MainMenu button {
  border: none;
  margin: 10px 0;
  padding: 12px 24px;
  font-size: 1.8rem;
  cursor: pointer;
  min-width: 20rem;
  background-color: #1e1e1e;
  color: #ffffff;
  border-left: solid 6px var(--accent-color);
  border-radius: 8px;
  transition: all 0.2s ease;
}

.MainMenu button:hover:not(:disabled) {
  background-color: #2c2c2c;
  transform: scale(1.05);
}

.MainMenu button:disabled {
  background-color: #333333;
  color: #777777;
  border-left: solid 6px #555555;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
